@font-face {
    font-family: "jetbrains-mono";
    src: url("jetbrains-mono.regular.ttf")
}

:root {
    --accent: #ec6a88;
    --text: #e3e6ee;
    --font: jetbrains-mono;
    --bg: #2e303e;
    --bg-mid: #393b4d;
    --bg-light: #44465c;
    --cyan: #6be6e6;
    --grey: #9699b7;
    --red: #ec6a88;
    --green: #3fdaa4;
    --blue: #3fc6de;
    --yellow: #efb993;
    --magenta: #b072d1;

}



*,button,input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    color: var(--text);
    word-wrap: break-word;
}

body {
    background-color: var(--bg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: none;
}
span, p {
    font-size: 19px;
    text-decoration: none;
}

p, h1, h2, .highlight{
    background-color: var(--bg);
    width: 100%;
    line-height:1.6;
}

h1, h2 {
    display:flex;
    color: var(--accent);
}

h1 { padding: 0 2rem !important;font-size: 1.75rem; }

p, .highlight, ol {
    margin-bottom: 2.5rem;
}

.highlight {
    border: 1px solid var(--bg-light);
    background-color: var(--bg-mid);
    padding: 1.5rem;
    border-radius: 10px;
    align-self: start;
}
header {
    width: 100%;
    padding: 2rem 0;
}

.headerInfo:before, .headerInfo:after {
    text-decoration: underline;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1:before, h1:after, h2:before, h2:after {
    color: var(--bg-light);
    content:'';
    flex:1;
    border-bottom: solid 2px;
    margin: auto 1.5rem;
    border-radius: 5px;
}

main, .heroInfo  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8rem;
    width: 100%;
    max-width: 50em;
    padding: 0 2rem;
}

.articlePreview {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.previewTitle, {
    color: var(--accent);
    padding: 0;
    text-align: center;
}

.previewTitle:before, .previewTitle:after { display: none;}

pre { overflow-x: auto;}

@media screen and (max-width: 700px) {
    h1, h2 {
        font-size: 1.35rem;
        padding: 1rem 0;
    }
    p { font-size: 1.1rem;}
}
@media screen and (max-width: 500px) {
    h1::before, h2::before {
        display: none;
    }
    h2 {
        margin: 0;
    }
}

ol, ul {
    padding-left: 2rem;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--accent)
}

a:hover { text-decoration: underline }

.heroChunk {
    padding-top: 2rem;
    width: 100%;
}

h4 {
    font-size: 1.5rem;
}

.postsDesc { margin: 3rem 0 1rem;}

.heroHeader {
    color: var(--accent);
    font-size: 2rem;
}

footer {
    padding: 2rem 0;
}

/* Error */  .err { color: var(--red)}
/* LineHighlight */  .hl { background-color: var(--bg)}
/* LineNumbersTable */  .lnt { color: var(--gray)}
/* LineNumbers */  .ln { color: var(--gray)}
/* Keyword */  .k { color: var(--magenta); }
/* KeywordConstant */  .kc { color: var(--yellow); }
/* KeywordDeclaration */  .kd { color: var(--magenta); }
/* KeywordNamespace */  .kn { color: var(--yellow); }
/* KeywordPseudo */  .kp { color: var(--yellow); }
/* KeywordReserved */  .kr { color: var(--yellow); }
/* KeywordType */  .kt { color: var(--blue); }
/* NameAttribute */  .na { color: #ff0000}
/* NameBuiltin */  .nb { color: var(--blue); }
/* Name */ .n { color: var(--cyan);}
/* NameTag */  .nt {  }
/* LiteralDate Yellow I think*/  .ld { color: #ff0000; }
/* LiteralString */  .s { color: var(--green); }
/* LiteralStringAffix */  .sa { color: var(--green); }
/* LiteralStringBacktick */  .sb { color: var(--green); }
/* LiteralStringChar */  .sc { color: var(--green); }
/* LiteralStringDelimiter */  .dl { color: var(--green); }
/* LiteralStringDoc */  .sd { color: var(--green); }
/* LiteralStringDouble */  .s2 { color: var(--green); }
/* LiteralStringEscape */  .se { color: var(--text); }
/* LiteralStringHeredoc */  .sh { color: var(--green); }
/* LiteralStringInterpol */  .si { color: var(--green); }
/* LiteralStringOther */  .sx { color: var(--green); }
/* LiteralStringRegex */  .sr { color: var(--green); }
/* LiteralStringSingle */  .s1 { color: var(--green); }
/* LiteralStringSymbol */  .ss { color: var(--green); }
/* LiteralNumber */  .m { color: var(--orange); }
/* LiteralNumberBin */  .mb { color: var(--orange); }
/* LiteralNumberFloat */  .mf { color: var(--orange); }
/* LiteralNumberHex */  .mh { color: var(--orange); }
/* LiteralNumberInteger */  .mi { color: var(--orange); }
/* LiteralNumberIntegerLong */  .il { color: var(--orange);  }
/* LiteralNumberOct */  .mo { color: var(--orange); }
/* Comment */  .c { color: var(--magenta)}
/* CommentHashbang */  .ch { color: var(--magenta)}
/* CommentMultiline */  .cm { color: var(--magents)}
/* CommentSingle */  .c1 { color: var(--magenta)}
/* CommentSpecial */  .cs { color: var(--magenta)}
/* CommentPreproc */  .cp { color: var(--magenta); }
/* CommentPreprocFile */  .cpf { color: var(--magenta); }
/* GenericUnderline */  .gl { text-decoration: underline }
