:root {
    --accent: #ec6a88;
    --text: #e3e6ee;
    --font: monospace;
    --bg: #2e303e;
    --radius: 15px;
}

strong {color: var(--accent)}

*,button,input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    color: var(--text);
}

body {
    background-color: var(--bg);
    min-height: 100vh;
}

header {
    display: flex;
    min-height: 10rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.headerInfo {
    flex: 6;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
}

main  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40vw;
}

.articlePreview {
    display:flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: var(--radius);
}

.date {
    font-family: var(--font);
}

.previewTitle {
    color: var(--accent);
    font-family: var(--font);
}

img {
    width: clamp(100%);
    border-radius: var(--radius);
    object-fit: cover;
    transition: transform .07s ease-in;
    will-change: auto;
}

img:focus,img:hover {
    transform: translate(.3rem,-.3rem);
    transition: transform .1s ease-out
}

@media screen and (max-width:700px) {
    .headerInfo {
        display:none;
    }
}

@media screen and (max-width:500px) {
    main {
        grid-template-columns: 1fr;
    }
    .previewDesc {
        display:none;
    }
    .previewTitle {
        text-align: center;
    }
    .info {
        display: flex;
        flex-direction: column;
    }
    .date {
        text-align: center;
    }
}

.articleWrap {
    display: grid;
    grid-template-columns:
    1fr min(65ch, 100%) 1fr;
}
.articleWrap > * {
    grid-column: 2;
    font-family: monospace;
}

