:root {
    --text: #e3e6ee;
    --bg: #2e303e;
    --bg-mid: #393b4d;
    --red: #ec6a88;
    --green: #3fdaa4;
    --blue: #3fc6de;
}

* { 
    font-size: 1em;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: "JetBrains Mono", liberation mono, monospace;
    margin: 0 auto;
    padding: 1rem;
    line-height: 1.6;
    max-width: 70ch;
}


h1,h2 {
    color: var(--red);
    font-size: 1.05em;
}

h3 { 
    color: var(--green);
    font-size: 1.1em;
}

a { 
    color: var(--blue);
    text-decoration: none;
}

ul { padding: 0 1rem;}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header a {
    padding: 0 .5rem
}

header, footer { 
    background-color: var(--bg-mid);
    border-radius: 8px;
    padding: 0.5rem
}

.bigContainer {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.posts {
    flex: 1;
}

.info {
    min-width: 300px;
    overflow-wrap: break-word;
    flex: 2;
}

.posts, .info { padding: 1rem}

.posts div { margin: 1rem 0;}

