:root {
    --accent: #ec6a88;
    --text: #e3e6ee;
    --font: monospace, courier new, courier;
    --bg: #2e303e;
    --bg-mid: #393b4d;
    --bg-light: #44465c;
    --grey: #9699b7;
    --blue: #3fc6de;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: var(--font);
}

a { color: var(--accent); }

main {
    display: grid;
    grid-template-columns:
        1fr
        min(65ch, 100%)
        1fr;
}
main > * {
    grid-column: 2;
}




::-webkit-scrollbar { background-color: var(--bg); width: 10px; }
::-webkit-scrollbar-thumb { background-color: var(--bg-light); -webkit-border-radius: 10px;}


