:root {
	--text: #d9e0ee;
	--bg: #292a37;
	--bg-mid: #303241;
	--red: #ec6a88;
	--green: #3fdaa4;
	--blue: #3fc6de;
}

body {
	background: var(--bg);
	color: var(--text);
	font-family: "JetBrains Mono", liberation mono, monospace;
	margin: 0 auto;
	padding: 1rem;
	max-width: 75ch;
	font-size: 18px;
	line-height: calc(1em + 0.5rem);
}

h1,
h2 {
	color: var(--red);
	font-size: 1.05em;
}

h3 {
	color: var(--green);
	font-size: 1.1em;
}

a {
	color: var(--blue);
	text-decoration: none;
}

a:hover {
	color: var(--green);
	text-decoration: underline;
}

ul {
	padding: 0 1rem;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

nav a {
	padding: 0 0.5rem;
}

nav,
footer {
	background-color: var(--bg-mid);
	border-radius: 8px;
	padding: 1rem;
}

main {
	display: flex;
	flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
  }
}

.posts {
	flex: 1;
	list-style: none;
	padding: 0;
}

li {
	padding-bottom: 8px;
}

.info {
	overflow-wrap: break-word;
	flex: 1.618;
}

.posts,
.info {
	padding: 1rem;
}

.posts div {
	margin: 1rem 0;
}
